.roomList {
    margin-top: 10rem;
    padding-bottom: 10rem;
}
.tagList {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.big-input-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .input-block {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        padding: 10px 10px 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 20px;
        transition: 0.3s;
        width: 350px;
    }
}

.dialog {
    margin: 0 auto;
    // font-family: "GmarketSansTTF Medium";
}

.MuiDialog-paperWidthSm {
    max-width: 100% !important;
}
.MuiPaper-root {
    width: 800px !important;
}

.content-title {
    font-family: "GmarketSansTTF Medium";
}
