.profile_img {
  position: relative;
  float: left;
  top: 5rem;
  left: 4rem;
}
.profile {
  position: relative;
  text-align: center;
  top: -8rem;
  font-family: "GmarketSansTTF Medium";
}
.calendar {
  position: relative;
  float: right;
  top: 2rem;
  right: 4rem;
}

.todo {
  position: relative;
  float: left;
  top: 4rem;
  left: 7rem;
}

.middle_m {
  position: relative;
  padding-bottom: 40rem;
}
