.mypage {
  width: 100%;
  height: 48rem;
}
.row {
  display: inline-flex;
  position: relative;
  top: 8rem;
  left: 10%;
}

.image {
  width: 13rem;
  position: relative;
  left: 3rem;
}

.profile {
  position: relative;
  left: 8%;
  font-family: "GmarketSansTTF Bold";
}

.profileCard {
  width: 45rem;
  height: 11rem;
  font-family: "GmarketSansTTF Medium";
}

.row2 {
  display: inline-flex;
  position: relative;
  bottom: 10rem;
  left: 3rem;
}
.todo {
  position: relative;
  top: 25rem;
  left: -55rem;
  width: 20rem;
}
.todoCard {
  height: 20rem;
}

.calendar {
  position: relative;
  left: 32rem;
  top: -43rem;
}
