.RoomEntrance_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.RoomEntrance_title {
    display: flex;
    width: 50%;
    height: 4rem;
    position: relative;
    left: 25%;
    top: 4.5rem;
    align-items: center;
    border: 1px solid grey;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px grey;
    font-family: "GmarketSansTTF Medium";
    font-size: x-large;
}

.RoomEntrance_left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 45rem;
    margin-right: 2rem;
    position: relative;
    left: 7rem;
    top: 5.5rem;
}
.RoomEntrance_left_item {
    height: 25rem;
    font-size: large;
}

.RoomEntrance_right {
    width: 45%;
    position: relative;
    left: 6rem;
    top: 5.5rem;
}

.RoomEntrance_container {
    display: inline-flex;
    flex-direction: row;
}
.exit_button {
    float: right;
    margin-top: 10px;
}
