.RoomEntrance_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;}

.RoomEntrance_title {
    display: flex;
    width: 50%;
    height: 4rem;
    position: relative;
    left: 25%;
    top: 4.5rem;
    align-items: center;
    // border: 1px solid black;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 1px lightgray;
    font-family: "GmarketSansTTF Medium";
    font-size: x-large;
    background-color: white;
}

.RoomEntrance_left {
    display: flex;
    flex-direction: column;
    width: 24.4%;
    height: 540px;
    margin-right: 2rem;
    position: relative;
    left: 7rem;
    top: 2.5rem;
}
.RoomEntrance_left_item {
    font-size: large;
}

.RoomEntrance_right {
    width: 100%;
    position: relative;
    left: 6rem;
    // top: 2.5rem;
    flex-direction: row;
    padding-top: 42px;
    overflow-y: scroll;

}
.RoomEntrance_right_item {
    height: 540px;
    // bottom: 525px;
    width: 500px;
    right: 80px;
    top: 40px;
}

.RoomEntrance_container {
    display: inline-flex;
    flex-direction: row;
}
.exit_button {
    float: right;
    text-align: right;;
    margin-right: 30px;
    margin-top: 20px;
}
