.top_u {
  position: relative;
  top: 5rem;
  left: 14rem;
}

.guide_text {
  font-family: "GmarketSansTTF Bold";
  font-size: large;
}
.guid_text_m {
  font-family: "GmarketSansTTF Bold";
  font-size: x-large;
  position: relative;
  left: 14rem;
  display: inline-flex;
}
.guid_text_m_b {
  color: #ff6666;
}
.guid_text_m_desc {
  font-family: "GmarketSansTTF medium";
  position: relative;
  left: -13.8rem;
  text-align: center;
  font-size: large;
}

.guide_text_t {
  font-family: "GmarketSansTTF Bold";
  font-size: medium;
  color: #02021ad7;
}
.guide_text_u {
  font-family: "GmarketSansTTF Medium";
  font-size: medium;
  position: relative;
}

.middle {
  position: relative;
  top: 8rem;
  left: 13rem;
  padding-bottom: 3rem;
}
.middle2 {
  position: relative;
  top: 3rem;
  left: 13rem;
  padding-bottom: 4rem;
}

.bottom {
  position: relative;
  top: 3rem;
  left: 13rem;
}
