.top_u {
  position: relative;
  top: 5rem;
  left: 14rem;
}

.guide_text {
  font-family: "GmarketSansTTF Bold";
  font-size: large;
}
.guide_text_t {
  font-family: "GmarketSansTTF Bold";
  font-size: medium;
  color: #58854d;
}
.guide_text_u {
  font-family: "GmarketSansTTF Medium";
  font-size: medium;
  position: relative;
}

.middle {
  position: relative;
  top: 8rem;
  left: 13rem;
  padding-bottom: 3rem;
}
.middle2 {
  position: relative;
  top: 3rem;
  left: 13rem;
  padding-bottom: 4rem;
}

.bottom {
  position: relative;
  top: 3rem;
  left: 13rem;
}
