.top {
  position: relative;
  top: 6rem;

  .shop_text {
    font-family: "GmarketSansTTF Bold";
    font-size: medium;
  }
}

.shop_text_m {
  font-family: "GmarketSansTTF Medium";
  font-size: medium;
}
.middle1 {
  position: relative;
  top: 10rem;
  padding-bottom: 5rem;
}
.premium {
  position: relative;
  top: 1rem;
}
